@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;500;600;700&display=swap");
body {
  background: #fafafa;
  font-family: "Red Hat Display", sans-serif;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  overflow-x: hidden;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.header__logo {
  object-fit: cover;
  height: 20px;
}

.hero-section {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.left-section {
  padding: 3rem 0;
}
.left-section img,
.right-section img {
  object-fit: cover;
  height: 400px;
}
.right-section {
  display: flex;
  justify-content: flex-end;
  padding: 3rem 0;
}

.mid-section {
  text-align: center;
}
.mid-section h2 {
  color: #28283d;
  font-size: 64px;
  padding: 0 5rem;
  line-height: 1;
}

.mid-section p {
  color: #87879d;
}

.download-btn,
.btn {
  padding: 1rem 2.5rem;
  background: #4d96a9;
  color: white;
  border: none;
  border-radius: 99px;
  cursor: pointer;
  font-weight: bold;
  transition: all 300ms ease;
}

.download-btn:hover {
  background: #7abbcb;
}

.light {
  color: #8fe3f9;
}

.btn {
  padding: 1rem 2rem;
  background: #855fb1;
}

.btn:hover {
  background: #d9b8ff;
}

.btn:hover .light-purple {
  color: #855fb1;
}

.actions {
  margin-top: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.divider {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 3rem;
}
.line {
  width: 2px;
  height: 80px;
  background: #87879d;
}

.num1,
.num2 {
  border: 2px solid #87879d;
  border-radius: 50%;
  width: 40px;
  padding: 0.9rem;
  font-size: 1.6rem;
  text-align: center;
  color: #87879d;
  font-weight: bold;
}

.num2 {
  background: #fff;
}

.imgDisplay {
  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

.img {
  object-fit: contain;
  height: 300px;
  width: 300px;
  border-radius: 24px;
}

.container {
  margin: 2rem 0;
  width: 100vw;
}

.info-section {
  width: 500px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2rem;
}
.info-head {
  text-align: center;
  width: 450px;
}

.info-section h3 {
  color: #4d96a9;
}

.info-section h1 {
  color: #28283d;
  font-size: 36px;
  font-weight: bold;
}

.info-section p {
  color: #87879d;
}

footer {
  margin-top: -2rem;
  background: url("./assets/desktop/image-footer.jpg") no-repeat center
    center/cover;
  width: 100vw;
  color: white;
  opacity: 10;
}

.overlay {
  padding: 3rem 1rem;
  width: 100%;
  background: #4d96a9;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
}

.overlay div {
  width: 30vw;
}

.overlay h2 {
  font-size: 2.5rem;
}

@media screen and (max-width: 1024px) {
  .hero-section {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    grid-template-rows: auto;
    row-gap: 4rem;
  }
  .mid-section {
    grid-row: 2;
    width: 100%;
    margin: 0 auto;
    transform: translateX(25vw);
  }
  .mid-section h2 {
    font-size: 40px;
  }

  .right-section {
    justify-content: flex-start;
  }
  .left-section {
    display: flex;
    justify-content: flex-end;
  }
  .container {
    width: 100vw;
  }
  .imgDisplay {
    width: 100vw;
    padding: 0 1rem;
    overflow: hidden;
  }
  .img {
    height: 200px;
    width: 200px;
  }
  .overlay {
    gap: 2rem;
    flex-direction: column;
    text-align: center;
  }
  .info-section,
  .info-head {
    width: 80vw;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 2rem;
  }
  .overlay div {
    width: 50vw;
  }
  .overlay h2 {
    font-size: 2rem;
  }
  .left-section img,
  .right-section img {
    object-fit: cover;
    height: 300px;
  }
}

@media screen and (max-width: 768px) {
  .actions {
    display: flex;
    flex-direction: column;
  }
  /* .mid-section,
  .imgDisplay,
  .divider,
  .info-section {
    transform: translateX(45vw);
  } */

  .divider {
    padding-top: 4rem;
  }

  .imgDisplay {
    display: grid;
    grid-template-columns: 1fr 1fr;
    place-items: center;
  }

  .img {
    height: 300px;
    width: 300px;
  }
  .info-section,
  .info-head {
    width: 90vw;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 2rem;
  }
}

@media screen and (max-width: 415px) {
  .mid-section,
  .divider,
  .info-section {
    transform: translateX(50vw);
  }
  .imgDisplay {
    transform: translateX(40vw);
  }

  .img {
    height: 400px;
    width: 400px;
  }
  footer {
    width: 750px !important;
  }
}
